<div class="container">
    <h1>User registration</h1>
    <form #register="ngForm" (ngSubmit)="submit(register)">
        <div class="form-group">
            <label for="login">Login</label>
            <input #login="ngModel" required type="email" name="login" class="form-control" ngModel email>
            <div *ngIf = "login.touched && login.invalid" class="alert-danger">Login must be a valid email</div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="password">Password</label>
            <input #pass="ngModel" required type="password" name="password" class="form-control" ngModel>
            <div *ngIf = "pass.touched && pass.invalid" class="alert-danger">Password must contain min 1 digit and min 1 letter</div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="confirmPassword">Confirm password</label>
            <input #confirm="ngModel" required type="password" name="confirmPassword" class="form-control" ngModel>
            <div *ngIf = "confirm.touched && confirm.invalid" class="alert-danger">Confirm password must be same with password</div>
        </div>
        <pre></pre>
        <div class="form-group">
            <input required type="checkbox" name="isAgree" class="form-check-input" ngModel>
            <label for="isAgree">Agree to work for food</label>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="country">Country</label>
            <select #country="ngModel" required class="select" name="countryId" class="form-select" (ngModelChange)="onChange($event)" ngModel>
                <option selected value="0"></option>
                <option *ngFor="let country of countries" [value]="country.id">{{ country.name }}</option>
            </select>
            <div *ngIf = "country.touched && (country.invalid || country.value == 0)" class="alert-danger">Country is required field</div>
        </div>
        <pre></pre>
        <div class="form-group">
            <label for="province">Province</label>
            <select #province="ngModel" required class="select" name="provinceId" class="form-select" ngModel>
                <option selected value="0"></option>
                <option *ngFor="let province of provinces" [value]="province.id">{{ province.name }}</option>
            </select>
            <div *ngIf = "province.touched && (province.invalid || province.value == 0)" class="alert-danger">Province is required field</div>
        </div>
        <pre></pre>
        <button class="btn btn-primary" type="submit" [disabled]="!register.valid">Save</button>
        <div *ngIf = "error == true" class="alert-danger">Error occured</div>
    </form>
</div>